# Jupyter checkpoints and pycache files
.ipynb_checkpoints
.ipynb_checkpoints/
Paper_figures/.ipynb_checkpoints/
Zhao_et_al_2025prepring_Fig2/.ipynb_checkpoints/
__pycache__
__pycache__/
Paper_figures/__pycache__/

# Entire folders
My_case study/
Masters_scripts/
Paper_figures/archive_figs/
Paper_figures/logs/
Paper_figures/figs/
Paper_figures/__init__.py


# Specific files
.env
test.py
Study_domain.ipynb

# Data and log files
*.nc
*.log
*.png
*.zarr
**/*.zarr/